@import "common.css";

.item img{width: 800px;}
.item{width: 800px;}
.fixnav {width:100px;   position:fixed; left:131px; top:170px;}
.fixnav ul li{background:url("../images/nav.png") no-repeat;padding: 0px 20px;color: white;height: 20px;margin-bottom: 10px;cursor: pointer;}
.fixnav ul li.current{background:url("../images/nav2.png") no-repeat;}
.content{width: 800px;margin: 0 auto;}
.item h3{padding-left:16px;margin:0;height: 30px;line-height: 30px;background: url("../images/headerbg.jpg");color: #fff;font-size: 16px;font-weight: bold;}
.item .desc{background: url('../images/bk_bg.jpg') repeat-y;font-size: 14px;padding: 20px;color: #707070;margin: 0 auto 10px;}
