@import "common.css";

.item img{width: 800px;}
.item{width: 800px;}
.fixnav {width:100px;   position:fixed; left:131px; top:323px;}
.fixnav ul li{background:url("../images/nav.png") no-repeat;padding: 0px 20px;color: white;height: 20px;margin-bottom: 10px;cursor: pointer;}
.fixnav ul li.current{background:url("../images/nav2.png") no-repeat;}
.content{width: 800px;margin: 0 auto;}
